:root {
    --page-padding: 1rem;
    --page-margin: 1rem;
    --page-gap: 1rem;
    --page-inset: 1rem;

    --page-height: calc(100vh - var(--page-padding) * 2);

    // sm:
    @media (min-width: 640px) {
        --page-padding: 1rem;
        --page-margin: 1rem;
        --page-gap: 1rem;
        --page-inset: 1rem;
    }

    // md:
    @media (min-width: 768px) {
    }

    // lg:
    @media (min-width: 1024px) {
        --page-padding: 1.25rem;
        --page-margin: 1.25rem;
        --page-gap: 1.25rem;
        --page-inset: 1.25rem;
    }

    // xl:
    @media (min-width: 1280px) {
        --page-padding: 1.5rem;
        --page-margin: 1.5rem;
        --page-gap: 1.5rem;
        --page-inset: 1.5rem;
    }

    // 2xl:
    @media (min-width: 1536px) {
    }
}
