@mixin light {
    --argent-600: 74 74 74;
    --argent-700: 49 49 49;
    --argent-800: 32 32 32;
    --argent-900: 18 18 18;

    --primary: 255 255 255;
    --secondary: 121 121 121;
    --accent: 255 124 28;
}

@mixin dark {
    --argent-600: 74 74 74;
    --argent-700: 49 49 49;
    --argent-800: 32 32 32;
    --argent-900: 18 18 18;

    --primary: 255 255 255;
    --secondary: 121 121 121;
    --accent: 255 124 28;
}
