@mixin light {
    --argent-600: 74 74 74;
    --argent-700: 49 49 49;
    --argent-800: 32 32 32;
    --argent-900: 18 18 18;

    --primary: 255 255 255;
    --secondary: 121 121 121;
    --accent: 255 124 28;

    --green: 0 133 100;
    --red: 230 70 70;
}

@mixin dark {
    --ink-600: 96 98 106;
    --ink-700: 46 48 59;
    --ink-800: 32 34 45;
    --ink-900: 20 20 32;

    --argent-600: 74 74 74;
    --argent-700: 49 49 49;
    --argent-800: 32 32 32;
    --argent-900: 18 18 18;

    --primary: 255 255 255;
    --secondary: 121 121 121;
    --accent: 255 124 28;

    --green: 0 133 100;
    --red: 230 70 70;
}
