@import 'tailwindcss';

@import './sizes.css';
@import './theme.css';

@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@source '../../../apps/**/*.{ts,tsx}';
@source '../../../components/**/*.{ts,tsx}';
@source '../**/*.{ts,tsx}';

/* Dark theme */
@custom-variant dark (&:where(.dark, .dark *));

/* Increase specificity util */
@custom-variant s9y (&:not(#s9y));

@layer base {
    * {
        @apply min-w-0 border-border outline-ring;
    }

    dialog:modal {
        @apply max-w-dvw;
    }

    html {
        @apply motion-safe:scroll-smooth scheme-light-dark;
    }

    button:not(:disabled),
    [role='button']:not(:disabled) {
        @apply cursor-pointer;
    }
}
